@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    
    header{
        left:-120%;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    body{
        padding:0;
    }

    header{
        width:100%;
    }

    
}
@media screen and (max-width: 600px) {
    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    
    header{
        left:-120%;
    }

}